/designereval-war/nbproject/private/
/designereval-ejb/nbproject/private/
/nbproject/private/
/designereval-ejb/build/
/designereval-ejb/dist/
/designereval-war/build/
/dist/
/designereval-war/dist/