html { 
    background-image: url(../imagenes/fondoMenu.png); background-repeat: no-repeat; background-size: 100% 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.noBorders tr, .noBorders td {
    background: none !important;
    border: none !important;
}

.noBorders2 tr, .noBorders2 td {
    border: none !important;
}

.centrado {
    padding:10px;
    position:absolute;
    top:35%;
    left:30%;
}

/*.ui-fileupload{
    border: none;
}
.ui-fileupload .start {
    display: none;
}
.ui-fileupload .cancel {
    display: none;
}
.ui-fileupload .progress {
    display: none;
}
.ui-fileupload .files {
    margin: 0px;
    display: none;
    visibility: hidden;
}
.ui-fileupload .fileupload-content {
    display: none;
    visibility: hidden;
}

.ui-fileupload .fileinput-button {
    position: absolute;
    left: -5px;
    top: -5px;
}*/


.ui-button-opciones{
    width: 200px; 
    height: 200px; 
    border-radius: 100px;
    font-weight: bold; 
    background-color: #DCDCDC
}

.cajaLectura {
    background-color: transparent;
    border: none;
}

.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 0;
    padding: .7em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.ui-header .ui-title, .ui-footer .ui-title {
    font-size: 1em;
    min-height: 1.1em;
    text-align: center;
    display: block;
    margin: 0 0;
    padding: .7em 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.rp1 {
    width: 40%;
}

.rp2 {
    width: 60%;
}

.rp3 {
    width: 70%;
}

.rp4 {
    width: 30%;
}

.ui-datatable-hor-scroll .ui-datatable-tablewrapper,.scrolling-div .ui-datatable-tablewrapper{
    overflow: auto;
    width: 100%;
    padding-bottom: 5px;
    height: 160px;
}
.ui-widget .ui-widget {
	font-size: 12px !important;
}